/*
animations
*/
:root {
  --first-breed-prob: 50%;
  --second-breed-prob: 50%;
  --third-breed-prob: 50%;
}

@keyframes first-breed-prob-animation {
  from {
    width: 0%;
  }
  to {
    width: var(--first-breed-prob);
  }
}

#first-breed-prob {
  animation-name: first-breed-prob-animation;
  animation-duration: 2s;
}

@keyframes second-breed-prob-animation {
  from {
    width: 0%;
  }
  to {
    width: var(--second-breed-prob);
  }
}

#second-breed-prob {
  animation-name: second-breed-prob-animation;
  animation-duration: 2s;
}

@keyframes third-breed-pro-animation {
  from {
    width: 0%;
  }
  to {
    width: var(--third-breed-prob);
  }
}

#third-breed-prob {
  animation-name: third-breed-prob-animation;
  animation-duration: 2s;
}

/*
static ui styles
*/
body {
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a,
a:visited {
  color: white;
}

h1 {
  text-align: center;
}

.hidden {
  display: none !important;
}

#logo-icon {
  margin-right: 5px;
}

.customized-col {
  padding: 0px !important;
}

#first-try-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#cover-1 {
  background-image: url("../images/cover-dog.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

#cover-2 {
  background-image: url("../images/cover-wiki.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#cover-3 {
  background-image: url("../images/cover-voice.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#cover-4 {
  background-image: url("../images/cover-ai.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.cover-subtitle {
  font-size: 20px !important;
  margin-top: 0px;
}

#main-content {
  padding-left: 20px;
  padding-right: 20px;
}

#img-preview {
  object-fit: contain;
  width: 100%;
}

.dog-breed-name {
  color: #26a69a !important;
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  flex: 1;
}

#try-text {
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
  font-weight: bold;
}

.card-image {
  cursor: pointer;
}

#sample-breed-predict {
  font-size: 16px;
}

.card {
  margin: 0 auto;
}

#sample-breed-img {
  object-fit: cover;
}

#prediction-results-container {
  margin-top: 50px;
}

#progress-notes {
  color: darkorange;
  font-size: 16px;
}

#button-container {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.predictiion-results-headline {
  font-weight: bold;
}

#prediction-contents {
  margin-top: 30px;
  margin-bottom: 40px;
}

#no-results-found {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

#install-container {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#install-container button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.75em;
}

.page-footer {
  padding-top: 0px;
}

#footer-link-icon {
  font-size: 18px;
}

.breed-container {
  display: flex;
}

.speaker-button {
  margin-top: 20px;
  cursor: pointer;
}

.dog-prob-progress-bar,
.dog-prob-progress-num {
  height: 27.34px;
}

@media only screen and (max-width: 767px) {
  #logo-icon {
    font-size: 30px;
  }
  .nav-wrapper {
    text-align: center;
  }
  .brand-logo {
    font-size: 18px !important;
  }
  #cover-1 {
    background-size: cover;
  }
  #cover-2 {
    background-size: contain;
  }
  #cover-3 {
    background-size: cover;
  }
  #cover-4 {
    background-size: cover;
  }
  .predictiion-results-headline {
    font-size: 20px;
  }
  .dog-breed-name {
    font-size: 18px;
  }
  .card {
    width: 300px;
  }
  #sample-breed-img {
    width: 300px;
    height: 225px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #logo-icon {
    font-size: 36px;
  }
  .nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .brand-logo {
    font-size: 24px !important;
  }
  #main-content,
  #nav-container,
  footer {
    margin: 0 auto;
    width: 768px;
  }
  #cover-1 {
    background-size: 768px;
  }
  #cover-2 {
    background-size: contain;
  }
  #cover-3 {
    background-size: 768px;
  }
  #cover-4 {
    background-size: 768px;
  }
  .predictiion-results-headline {
    font-size: 20px;
  }
  .dog-breed-name {
    font-size: 18px;
  }
  .card {
    width: 600px;
  }
  #sample-breed-img {
    width: 600px;
    height: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  #logo-icon {
    font-size: 36px;
  }
  .nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .brand-logo {
    font-size: 28px !important;
  }
  #main-content,
  #nav-container,
  footer {
    margin: 0 auto;
    width: 768px;
  }
  #cover-1 {
    background-size: 768px;
  }
  #cover-2 {
    background-size: contain;
  }
  #cover-3 {
    background-size: 768px;
  }
  #cover-4 {
    background-size: 768px;
  }
  .predictiion-results-headline {
    font-size: 20px;
  }
  .dog-breed-name {
    font-size: 18px;
  }
  .card {
    width: 600px;
  }
  #sample-breed-img {
    width: 600px;
    height: 450px;
  }
}
